html {
    box-sizing: border-box;
  }
  
*,
*:before,
*:after {
box-sizing: inherit;
}

body {
    font-size: 16px;
    line-height: 24px;
}

.menu {
    height: 72px;
    justify-content: space-between;
}

.shadow {
    box-shadow: 0 20px 50px -20px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.box {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    justify-content: center;
}

.box span {
    margin-left: 8px;
}

.location,
.asap,
button {
    padding: 8px 12px;
    border: 1px solid #E0E0E0;
    height: 40px;
}

.location {
    margin-left: 8px;
    display: flex;
}
.location__icon {
    display: flex;
    padding-top: 4.5px;
}
.auth {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.adress {
    display: flex;
    border: none;
    outline:none;
    margin-left: 8px;
}

#search {
    margin-top: 32px;
}

.search {
    height: 48px;
    align-items: center;
    border-bottom: 1px solid #75757530;
}

.search__input {
    width: 100%;
    display: flex;
    border: none;
    outline:none;
}

.search__icon {
    display: flex;
    margin-right: 8px;
}

.btn {
    margin-left: 16px;
    width: 80px;
    font-size: 13px;
}

.sign {
    background-color: #ffffff;
}

.register {
    color: #ffffff;
    background-color: #000000;
}

.basket {
    margin-left: 27px;
}

.wrap {
    flex-wrap: wrap;
    justify-content: space-between;
}

#restaurants {
    margin-top: 56px;
    margin-bottom: 80px;
}

footer {
    background-color: #262626;
    color: #ffffff;
}

.footer__logo {
    display: flex;
    padding-top: 56px;
    padding-bottom: 40px;
}

.footer__border {
    border-bottom: 1px solid #ffffff40;
}

.aboutus {
    margin-top: 32px;
    justify-content: space-between;
}

.language__select {
    display: flex;
    height: 40px;
    background-color: #3B3B3B;
}

.language__select select {
    display: flex;
    border: none;
    color: #ffffff;
    background-color: transparent;
    width: 100%;
}

.language__logo {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
}

.apps {
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}