header,
nav {
    color: #ffffff;
    background-color: #FD739C;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 22px;
    line-height: 34px;
}

html {
    box-sizing: border-box;
  }
  
*,
*:before,
*:after {
box-sizing: inherit;
}

header {
    padding-bottom: 20px;
    padding-top: 30px;
}

main {
    padding-top: 20px;
    padding-bottom: 20px;
}